.badge {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 37px;
    padding: 6px 16px;
    gap: 6px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.051);
    /* #FFFFFF0D */
    backdrop-filter: blur(4px);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 1;
}

.badge::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 999px;
    padding: 1px;
    background: linear-gradient(270deg, rgba(123, 204, 255, 0.2) 0%, #7BCCFF 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}