.appContainer {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
}

.mainContent {
    width: 100%;
}

.heroPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    opacity: 0.5;
    text-align: center;
}